@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.gym-images {
    text-align: center;
    margin: 20px 0;
}

.gym-images img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.gym-images img:hover {
    transform: scale(1.05);
}

.explore-btn {
    background-color: #29a396;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 50px;
}

.explore-btn:hover {
    background-color: #29a396;
}
